table, th, td {
            border: 1px solid rgb(0, 10, 68);
            border-collapse: collapse;
            text-align: center;
            margin: auto;
            width: auto;
        }
        .table-sidebyside {
            display: flex;      
            gap: 20px;           
        }

        body{
            background-color:rgb(229, 241, 246);
            margin: 0;
            padding: 0;
            font-family:Georgia, 'Times New Roman', Times, serif
        }

        header{
            background-color: rgb(95, 198, 242);
            text-align:center;
            padding:10px 0;
        }

        header a{
            font-size: 16;
            color: antiquewhite;
            margin: 0 15px;
            transition: color 0.3x ease
        }

        header a:hover {
            color:black
        }

        h2{
            text-align: center;
            color: rgb(0, 23, 139);
            font-size: 36px;
        }

        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
              max-width: 100%;
              height:auto;
              margin-bottom: 20px;
        }

.page-box {
    border: 3px solid rgb(0, 17, 68);
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    background-color: white;
}